# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/
.envrc

# Editors/OS
.vscode/
.idea/
.DS_Store

# Data and experiment artifacts
/data/
/experiments/
/demo_outputs/
/outputs/
**/.hydra/
*.pt
*.ckpt
*.log
#instruction.txt

# Local datasets and archives
/scripts/data/
*.tar.gz

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.out
*.log
